#contato_wrapper { 
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: #33343f;
}

#contato_title { 
   position: absolute;
   width: 100%;
   text-align: center;
   top: 10vh;
   color: white;
   margin: auto;
}

#contato_contentWrapper { 
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#contato_innerWrapper { 
   width: 60%;
   display: flex;
   justify-content: space-between;
   margin: auto;
   margin-top: 15vh;
}

form { 
   width: 50%;
}

/* animation */

#animContato { 
   width: 20vw;
   height: auto;
}